<main>
  <div class='row gy-5'>
    <section class='col-12'>
      <div class='card text-bg-dark'>
        <img
          class='card-img-top'
          src='https://picsum.photos/400/200'
          alt='Product photo'
        />
        <div class='card-body'>
          <h5 class='title text-bg-primary'>Product #016437</h5>
          <p class='text-bg-secondary'>USB 1.3<br />USB 1.3</p>
          <a
            href='/summary'
            class='btn btn-primary'
          >Open</a>
        </div>
      </div>
    </section>

    <section class='col-6'>
      <div class='card'>
        <div class='card-header'>
          <div class='display-6'>Menu</div>
        </div>
        <ul class='list-group'>
          <li class='list-group-item'>
            <a href='#' class='btn-btn-link'>Home page</a>
          </li>
          <li class='list-group-item'>
            <a href='#' class='btn-btn-link'>Summary page</a>
          </li>
          <li class='list-group-item'>
            <a href='#' class='btn-btn-link'>Skills page</a>
          </li>
        </ul>
        <div class='card-footer'>
          <button class='btn btn-dark btn-sm'>Update list</button>
        </div>
      </div>
    </section>
    <section class='col-6'>
      <table class='table tablcle-striped table-bordered'>
        <thead>
          <tr>
            <th>
              #id
            </th>
            <th>
              name
            </th>
            <th>
              age
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>1</th>
            <td>Jhon</td>
            <td>35</td>
          </tr>
          <tr>
            <th>2</th>
            <td>Ivan</td>
            <td>29</td>
          </tr>
          <tr>
            <th>2</th>
            <td>Ivan</td>
            <td>29</td>
          </tr>
          <tr>
            <th>2</th>
            <td>Ivan</td>
            <td>29</td>
          </tr>
        </tbody>
      </table>
    </section>
    <section col-12>
      <div class='row gx-5 gy-1'>
        <div class='col-4'>
          <div class='card text-bg-success'>
            <div
              class='card-header text-center'
            >Header</div>
            <div class='card-body text-center'>
              <h6 class='card-title'>This is title</h6>
              <p>This is content of our box</p>
              <button class='btn btn-light'>Click</button>
            </div>
            <div
              class='card-footer text-center'
            >Footer</div>
          </div>
        </div>
        <div class='col-4'>
          <div class='card text-bg-success'>
            <div
              class='card-header text-center'
            >Header</div>
            <div class='card-body text-center'>
              <h6 class='card-title'>This is title</h6>
              <p>This is content of our box</p>
              <button class='btn btn-light'>Click</button>
            </div>
            <div
              class='card-footer text-center'
            >Footer</div>
          </div>
        </div>
        <div class='col-4'>
          <div class='card text-bg-success'>
            <div
              class='card-header text-center'
            >Header</div>
            <div class='card-body text-center'>
              <h6 class='card-title'>This is title</h6>
              <p>This is content of our box</p>
              <button class='btn btn-light'>Click</button>
            </div>
            <div
              class='card-footer text-center'
            >Footer</div>
          </div>
        </div>
        <div class='col-4'>
          <div class='card text-bg-success'>
            <div
              class='card-header text-center'
            >Header</div>
            <div class='card-body text-center'>
              <h6 class='card-title'>This is title</h6>
              <p>This is content of our box</p>
              <button class='btn btn-light'>Click</button>
            </div>
            <div
              class='card-footer text-center'
            >Footer</div>
          </div>
        </div>
        <div class='col-4'>
          <div class='card text-bg-success'>
            <div
              class='card-header text-center'
            >Header</div>
            <div class='card-body text-center'>
              <h6 class='card-title'>This is title</h6>
              <p>This is content of our box</p>
              <button class='btn btn-light'>Click</button>
            </div>
            <div
              class='card-footer text-center'
            >Footer</div>
          </div>
        </div>
        <div class='col-4'>
          <div class='card text-bg-success'>
            <div
              class='card-header text-center'
            >Header</div>
            <div class='card-body text-center'>
              <h6 class='card-title'>This is title</h6>
              <p>This is content of our box</p>
              <button class='btn btn-light'>Click</button>
            </div>
            <div
              class='card-footer text-center'
            >Footer</div>
          </div>
        </div>
        <div class='col-4'>
          <div class='card text-bg-success'>
            <div
              class='card-header text-center'
            >Header</div>
            <div class='card-body text-center'>
              <h6 class='card-title'>This is title</h6>
              <p>This is content of our box</p>
              <button class='btn btn-light'>Click</button>
            </div>
            <div
              class='card-footer text-center'
            >Footer</div>
          </div>
        </div>
      </div>
    </section>
  </div>
  {{!-- <br />
  <br />
  <br />

  <ul class='list-group'>
    <li class='list-group-item'>
      <ul class='list-group'>
        <li class='list-group-item'>Item 1.1</li>
        <li class='list-group-item'>Item 1.2</li>
      </ul>
    </li>

    <li class='list-group-item'>Item 2</li>
    <li class='list-group-item'>Item 3</li>
  </ul>
  <br />
  <br />
  <h5>Menu</h5>

  <ul class='list-group'>
    <li class='list-group-item'>
      <a href='#' class='btn-btn-link'>Home page</a>
    </li>
    <li class='list-group-item'>
      <a href='#' class='btn-btn-link'>Summary page</a>
    </li>
    <li class='list-group-item'>
      <a href='#' class='btn-btn-link'>Skills page</a>
    </li>
  </ul>
  <br />
  <br />
  <div class='card text-bg-primary'>
    <div class='card-header'>
      <div class='display-6'>Menu</div>
    </div>
    <ul class='list-group'>
      <li class='list-group-item'>
        <a href='#' class='btn-btn-link'>Home page</a>
      </li>
      <li class='list-group-item'>
        <a href='#' class='btn-btn-link'>Summary page</a>
      </li>
      <li class='list-group-item'>
        <a href='#' class='btn-btn-link'>Skills page</a>
      </li>
    </ul>
    <div class='card-footer'>
      <button class='btn btn-dark btn-sm'>Update list</button>
    </div>
  </div>

  <br />
  <br />
  <br />

  <table class='table table-striped table-bordered'>
    <thead>
      <tr>
        <th>
          #id
        </th>
        <th>
          name
        </th>
        <th>
          age
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>1</th>
        <td>Jhon</td>
        <td>35</td>
      </tr>
      <tr>
        <th>2</th>
        <td>Ivan</td>
        <td>29</td>
      </tr>
      <tr>
        <th>2</th>
        <td>Ivan</td>
        <td>29</td>
      </tr>
      <tr>
        <th>2</th>
        <td>Ivan</td>
        <td>29</td>
      </tr>
    </tbody>
  </table>

  <br />
  <br />
  <br />

  {{!<div class='card text-bg-success'>
    <div class='card-header text-center'>Header</div>
    <div class='card-body text-center'>
      <h6 class='card-title'>This is title</h6>
      <p>This is content of our box</p>
      <button class='btn btn-light'>Click</button>
    </div>
    <div class='card-footer text-center'>Footer</div>
  </div>}}

  <br />
  <br />
  <br />

  <div class='row gx-5 gy-1'>
    <div class='col-4'>
      <div class='card text-bg-success'>
        <div class='card-header text-center'>Header</div>
        <div class='card-body text-center'>
          <h6 class='card-title'>This is title</h6>
          <p>This is content of our box</p>
          <button class='btn btn-light'>Click</button>
        </div>
        <div class='card-footer text-center'>Footer</div>
      </div>
    </div>
    <div class='col-4'>
      <div class='card text-bg-success'>
        <div class='card-header text-center'>Header</div>
        <div class='card-body text-center'>
          <h6 class='card-title'>This is title</h6>
          <p>This is content of our box</p>
          <button class='btn btn-light'>Click</button>
        </div>
        <div class='card-footer text-center'>Footer</div>
      </div>
    </div>
    <div class='col-4'>
      <div class='card text-bg-success'>
        <div class='card-header text-center'>Header</div>
        <div class='card-body text-center'>
          <h6 class='card-title'>This is title</h6>
          <p>This is content of our box</p>
          <button class='btn btn-light'>Click</button>
        </div>
        <div class='card-footer text-center'>Footer</div>
      </div>
    </div>
    <div class='col-4'>
      <div class='card text-bg-success'>
        <div class='card-header text-center'>Header</div>
        <div class='card-body text-center'>
          <h6 class='card-title'>This is title</h6>
          <p>This is content of our box</p>
          <button class='btn btn-light'>Click</button>
        </div>
        <div class='card-footer text-center'>Footer</div>
      </div>
    </div>
    <div class='col-4'>
      <div class='card text-bg-success'>
        <div class='card-header text-center'>Header</div>
        <div class='card-body text-center'>
          <h6 class='card-title'>This is title</h6>
          <p>This is content of our box</p>
          <button class='btn btn-light'>Click</button>
        </div>
        <div class='card-footer text-center'>Footer</div>
      </div>
    </div>
    <div class='col-4'>
      <div class='card text-bg-success'>
        <div class='card-header text-center'>Header</div>
        <div class='card-body text-center'>
          <h6 class='card-title'>This is title</h6>
          <p>This is content of our box</p>
          <button class='btn btn-light'>Click</button>
        </div>
        <div class='card-footer text-center'>Footer</div>
      </div>
    </div>
    <div class='col-4'>
      <div class='card text-bg-success'>
        <div class='card-header text-center'>Header</div>
        <div class='card-body text-center'>
          <h6 class='card-title'>This is title</h6>
          <p>This is content of our box</p>
          <button class='btn btn-light'>Click</button>
        </div>
        <div class='card-footer text-center'>Footer</div>
      </div>
    </div>
  </div> --}}

</main>