{{!-- 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
     <div>
        <a href="/"class="btn btn-warning m-4 p-2">Головна</a>
    </div>

    {{#with main}}
    <main>
        <section>

            <div class="card m-4 p-4">
            {{#with summary}}
                <div class="card-body">
                    <div class="card-title">{{>title data=title}}</div>
                    <p>
                        {{text}}
                    </p>
                </div>
            {{/with}}
            </div>

        </section>
         <section>
            <div class="card m-4 p-4">
                {{#with experience}}
                <div class="card-body">
                    <div class="card-title">{{>title data=title}}</div>
                    <p>
                        {{text}}
                    </p>
                </div>
                {{/with}}
            </div>
        </section>
    </main>
{{/with}}


</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}