 <div class="row">
    <div class="col-4">
         <p class="display-6">Пономаренко Тетяна</p>
    </div>
    <div class="col-8">
         <div class="card">
            <div class="card-body">
                <div class="nav">
                    {{>link text="Skills" href="/skills"}}   
                    {{>link text="Summary" href="/summary"}}
                    {{>link text="Edication" href="/edication"}}
                    {{>link text="Work" href="/work"}}     
                </div>
            </div>
        </div>
    </div>
</div>